
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html , body{
  height: 100%;
  width: 100%;
}
#main{
  background-color: #EFEAE3;
}
#page1{
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  position: relative;
  padding: 0 2vw;
}
nav{
  padding: 2vw 2vw 8vw 2vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navpart-2{
  display: flex;
  align-items: center;
  gap: 1vw;
}
#navpart-2 h4{
  padding: 10px 20px;
  border: 1px solid rgba(14, 13, 13, 0.463);
  border-radius: 50px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.811);
  position: relative;
  font-size: 19px;
  transition: all ease 0.4s;
  overflow: hidden;
}
#navpart-2 h4::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}
#navpart-2 h4:hover::after{
  bottom: 0;
  border-radius: 0;
}
#navpart-2 h4 a{
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
#navpart-2 h4:hover a{
  color: white;
}


#center{
  height: 66vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 4vw;
}
#left h3{
  width: 30vw;
  font-size: 2vw;
  line-height: 2vw;
}
#center h1{
  font-size: 10vw;
  line-height: 8vw;
  text-align: right;
}
#main video{
  position: relative;
  border-radius: 60px;
  margin-top: 3.8vw;
  width: 100%;
  padding: 0 2vw;
}

#hero-shape{
  position: absolute;
  height: 36vw;
  width: 46vw;
  right: 0;
  top: 78%;
}
#hero-1{
  position: absolute;
  height: 100%;
  width: 100%; 
  background-color: #FE370D;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
}
#hero-2{
  position: absolute;
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#FE370D,#fe6b16);
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime2;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#hero-3{
  position: absolute;
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#FE370D,#fe6b16);
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime1;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes anime1 {
  from{transform: translate(55%, -5%);
  }
  to{
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from{transform: translate(5%, -2%);
  }
  to{
    transform: translate(-2%, 30%);
  }
}


#page2{
  min-height: 100vh;
  width: 100%;
  padding: 8vw 0;
  position: relative;
}
#moving-text{
  white-space: nowrap;
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
  display: none;
}
.con{
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#moving-text h1{
  font-size: 8vw;
  display: inline-block;
}
#gola{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #FE370D;
  display: inline-block;
  margin: 0.7vw 2vw;
}

@keyframes move {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

#page2-side-point{
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 0 2vw;
  position: absolute;
}
#page h5{
  font-size: 13px;
}
#mini-gola {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #FE370D;
  bottom: 90%;
}


#page2-bottom{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5vw;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}
#page2-bottom h1{
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}
#bottom-part2{
  width: 20%;
}
#bottom-part2 img{
  width: 110%;
  border-radius: 20px;
}
#bottom-part2 p{
  margin-top: 2vw;
}

#page2 #gugly{
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top,#FE370D,#fe6b16);
  top: 50%;
  left: 26%;
  filter: blur(20px);
  animation-name: gugly;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes gugly {
  from{
    filter: blur(20px);
    transform: translate(10%,-10%)skew(0);
  }
  to{
    filter: blur(30px);
    transform: translate(-10%,10%)skew(-10deg);
  }
}



#page3{
  min-height: 100vh;
  width: 100%;
  padding: 4vw 0;
}
.elem{
  height: 120px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  border-bottom: 1px solid #E8DDD6;
  overflow: hidden;
}
.elem h2{
  font-size: 3vw;
  position: relative;
  z-index: 99;
}
.elem .overlay{
  height: 100%;
  width: 100%;
  background-color: #FF9831;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.2s;
}
.elem:hover .overlay{
  top: 0;
}


#fixed-image{
  height: 30vw;
  width: 24vw;
  border-radius: 10px;
  position: fixed;
  z-index: 9;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}
.project{
  padding: 10px 15px;
  width: 10vw;
  border: 1px solid rgba(14, 13, 13, 0.463);
  border-radius: 50px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.811);
  position: relative;
  font-size: 19px;
  transition: all ease 0.4s;
  overflow: hidden;
  align-items: center;
  left: 2.4vw;
  top: 4vw;
}
#page3 .project::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
} 
#page3 .project:hover::after{
  bottom: 0;
  border-radius: 0;
}
#page3 .project a{
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
#page3 .project:hover a{
  color: white;
}


